<h1>Restaurar contrase単a</h1>
<p style="color:red">{{error}}</p>

<br/><br/>
<p>Ingresar correo y nueva contrase単a</p>
<form method="post" action="/api/sessions/cambiarContrase単a">
    <input type="email" placeholder="correo" name="email">
    <br/><br/>
    <input type="password" placeholder="nueva contrase単a" name="newPassword">
    <br/><br/>
    <button>Restaurar</button>
</form>